@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .blue_card {
      @apply bg-blue-600;
    }
    .red_card {
      @apply bg-red-600;
    }
    .green_card {
      @apply bg-green-600;
    }
    .yellow_card {
      @apply bg-yellow-400;
    }
    .black_card {
      @apply bg-black;
    }

    .blue_text {
      @apply text-blue-600;
    }
    .red_text {
      @apply text-red-600;
    }
    .green_text {
      @apply text-green-600;
    }
    .yellow_text {
      @apply text-yellow-400;
    }



    
}

.block, .block_inside, .bar{
    
    box-shadow:
    1px 2px 0px 2px #000,
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     1px  1px 0 #000000;
     }

.card_icon{
    box-shadow:
    1px 2px 0px 2px #000,
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     1px  1px 0 #000000;
}

body{
    padding: 0px;
    margin: 0px;
}


.the_main_number{
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
    text-shadow:
    4px 4px #000,
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     2px  2px 0 #000000;

}
.the_secondary_number{
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
    text-shadow:
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     2px  2px 0 #000000;

}



.uno_text{
  text-shadow:
  -4px  4px 0 #000000,
 -1px -1px 0 #000000,
 -1px  1px 0 #000000,
  1px -1px 0 #000000,
  1px  0   0 #000000,
 -1px  0   0 #000000,
  0   -1px 0 #000000,
  0    1px 0 #000000,
  2px  2px 0 #000000,
  3px 3px 0 #fff,
  -3px -3px 0 #fff;


}
.minimal_uno_text{

  text-shadow:
  -4px  4px 0 #171717,
 -1px -1px 0 #171717,
 -1px  1px 0 #171717,
  1px -1px 0 #171717,
  1px  0   0 #171717,
 -1px  0   0 #171717,
  0   -1px 0 #171717,
  0    1px 0 #171717,
  2px  2px 0 #171717,
  3px 3px 0 #171717,
  -3px -3px 0 #171717;
}



.custom_rotate{
  rotate: 30deg;
}
.reverse_custom_rotate{
  rotate: -30deg;
}


.stop{
  width:80px;
  height:80px;
  border:10px solid rgb(220 38 38);
  border-radius:50%;
  position:relative;
  box-shadow:
  2px 2px #000,
   1px  1px 0 #000000,
  -1px -1px 0 #000000,
  -1px  1px 0 #000000,
   1px -1px 0 #000000,
   1px  0   0 #000000,
  -1px  0   0 #000000,
   0   -1px 0 #000000,
   0    1px 0 #000000,
   1px  1px 0 #000000;
   z-index: 100;
}

.stop:after{
  z-index: -10;
  content:'';
  display:block;
  position:absolute;
  width:10px;
  height:70px;
  background:rgb(220 38 38);
  left:calc(50% - 7px);
  transform:rotatez(45deg);
}





.blue_card {
  background-color: rgb(37 99 235);
}
.red_card {
  background-color: rgb(220 38 38);
}
.green_card {
  background-color: rgb(22 163 74);
}
.yellow_card {
  background-color: rgb(250 204 21);
}
.black_card {
  background-color: #171717;
}

.blue_text {
  background-color: rgb(37 99 235);
}
.red_text {
  background-color: rgb(220 38 38);
}
.green_text {
  background-color: rgb(22 163 74);
}
.yellow_text {
  background-color: rgb(250 204 21);
}

.hhhh{
  background-color: #171717;
}


.card{
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 300ms;
}
.flip_card{
  background-color: red !important;
  transform: rotateY(180deg);
}