@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .blue_card {
      @apply bg-blue-600;
    }
    .red_card {
      @apply bg-red-600;
    }
    .green_card {
      @apply bg-green-600;
    }
    .yellow_card {
      @apply bg-yellow-600;
    }

    .blue_text {
      @apply text-blue-600;
    }
    .red_text {
      @apply text-red-600;
    }
    .green_text {
      @apply text-green-600;
    }
    .yellow_text {
      @apply text-yellow-600;
    }



    
}

.block, .block_inside, .bar{
    
    box-shadow:
    1px 2px 0px 2px #000,
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     1px  1px 0 #000000;
     }

.card_icon{
    box-shadow:
    1px 2px 0px 2px #000,
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     1px  1px 0 #000000;
}

body{
    padding: 0px;
    margin: 0px;
}


.the_main_number{
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
    text-shadow:
    4px 4px #000,
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     2px  2px 0 #000000;

}
.the_secondary_number{
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
    text-shadow:
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     2px  2px 0 #000000;

}

.custom_rotate{
  rotate: 30deg;
}
.reverse_custom_rotate{
  rotate: -30deg;
}


.stop{
  width:80px;
  height:80px;
  border:10px solid rgb(220 38 38);
  border-radius:50%;
  position:relative;
  box-shadow:
  2px 2px #000,
   1px  1px 0 #000000,
  -1px -1px 0 #000000,
  -1px  1px 0 #000000,
   1px -1px 0 #000000,
   1px  0   0 #000000,
  -1px  0   0 #000000,
   0   -1px 0 #000000,
   0    1px 0 #000000,
   1px  1px 0 #000000;
   z-index: 100;
}

.stop:after{
  z-index: -10;
  content:'';
  display:block;
  position:absolute;
  width:10px;
  height:70px;
  background:rgb(220 38 38);
  left:calc(50% - 7px);
  transform:rotatez(45deg);
}